/* 
	Created on : Jul 30, 2014, 12:55:14 AM
	Author     : kishore
*/
/* 
    Created on : Jul 9, 2014, 9:19:19 AM
    Author     : kishore
*/
/* line 19, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  vertical-align: baseline; }

/* line 31, ../sass/partials/_reset.scss */
html {
  line-height: 1; }

/* line 35, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 44, ../sass/partials/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 50, ../sass/partials/_reset.scss */
q, blockquote {
  quotes: none; }

/* line 53, ../sass/partials/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 58, ../sass/partials/_reset.scss */
a img {
  border: none; }

/* line 62, ../sass/partials/_reset.scss */
a, a:hover, a:active {
  outline: 0px;
  color: inherit;
  text-decoration: none; }

/* line 68, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 73, ../sass/partials/_reset.scss */
b, h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

/* line 76, ../sass/partials/_reset.scss */
h1, .h1 {
  font-size: 38px; }

/* line 79, ../sass/partials/_reset.scss */
h2, .h2 {
  font-size: 31.5px; }

/* line 82, ../sass/partials/_reset.scss */
h3, .h3 {
  font-size: 24px; }

/* line 85, ../sass/partials/_reset.scss */
h4, .h4 {
  font-size: 17px; }

/* line 88, ../sass/partials/_reset.scss */
h5, .h5 {
  font-size: 14px; }

/* line 91, ../sass/partials/_reset.scss */
h6, .h6 {
  font-size: 12px; }

/* 
	Created on : Dec 18, 2014, 9:21:40 PM
	Author     : kishore
*/
/* line 12, ../sass/partials/_extensions.scss */
.capsFont {
  display: inline-block;
  text-transform: uppercase; }
  /* line 16, ../sass/partials/_extensions.scss */
  .capsFont::first-letter {
    font-size: 200% !important; }

/* line 22, ../sass/partials/_extensions.scss */
.iBlock {
  display: inline-block;
  vertical-align: middle; }

/* line 28, ../sass/partials/_extensions.scss */
.marAuto {
  margin: auto; }

/* line 31, ../sass/partials/_extensions.scss */
.mar10 {
  margin: 10px; }

/* line 34, ../sass/partials/_extensions.scss */
.mar5 {
  margin: 5px; }

/* line 39, ../sass/partials/_extensions.scss */
.pad10 {
  padding: 10px; }

/* line 42, ../sass/partials/_extensions.scss */
.pad5 {
  padding: 5px; }

/* line 47, ../sass/partials/_extensions.scss */
.alignL {
  text-align: left; }

/* line 50, ../sass/partials/_extensions.scss */
.alignR {
  text-align: right; }

/* line 53, ../sass/partials/_extensions.scss */
.alignC {
  text-align: center; }

/* 
	Created on : Dec 19, 2014, 11:54:28 AM
	Author     : kishore
*/
/* line 12, ../sass/partials/_navbar.scss */
.navbar {
  background-color: green; }

/* line 17, ../sass/partials/_navbar.scss */
.nav {
  width: 1000px;
  margin: auto;
  display: table;
  background-color: lightgreen; }
  /* line 24, ../sass/partials/_navbar.scss */
  .nav .item {
    display: table-cell;
    vertical-align: middle; }
    /* line 29, ../sass/partials/_navbar.scss */
    .nav .item.cell, .nav .item .cell {
      position: relative;
      padding: 10px;
      cursor: pointer;
      white-space: nowrap; }
      /* line 34, ../sass/partials/_navbar.scss */
      .nav .item.cell:hover, .nav .item .cell:hover {
        background-color: white; }
      /* line 38, ../sass/partials/_navbar.scss */
      .nav .item.cell img, .nav .item .cell img {
        vertical-align: middle;
        width: 30px;
        height: 30px; }
    /* line 44, ../sass/partials/_navbar.scss */
    .nav .item.remain {
      width: 100%; }
      /* line 46, ../sass/partials/_navbar.scss */
      .nav .item.remain:hover {
        background-color: inherit; }

/* 
	Created on : Dec 19, 2014, 4:33:11 PM
	Author     : kishore
*/
/* line 10, ../sass/partials/_buttons.scss */
.button {
  padding: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: 0px; }
  /* line 16, ../sass/partials/_buttons.scss */
  .button:hover, .button.active {
    outline: 0px;
    border: 0px;
    background-color: lightgreen;
    color: black; }

/* 
	Created on : Dec 19, 2014, 10:01:45 PM
	Author     : Kishore
*/
/* line 12, ../sass/partials/_dropdown.scss */
.dropdown {
  position: relative; }
  /* line 17, ../sass/partials/_dropdown.scss */
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 0px;
    min-width: 170px;
    background-color: lightgreen;
    z-index: 1; }
    /* line 27, ../sass/partials/_dropdown.scss */
    .dropdown ul li {
      padding: 6px 10px;
      cursor: pointer; }
      /* line 30, ../sass/partials/_dropdown.scss */
      .dropdown ul li:hover {
        background-color: darkgreen;
        color: white; }
  /* line 39, ../sass/partials/_dropdown.scss */
  .dropdown.dropup ul {
    top: auto;
    bottom: 100% !important; }
  /* line 46, ../sass/partials/_dropdown.scss */
  .dropdown.pullLeft ul {
    top: auto;
    right: 0px !important; }
  /* line 51, ../sass/partials/_dropdown.scss */
  .dropdown .button {
    position: relative;
    z-index: 2; }

/* 
	Created on : Dec 20, 2014, 11:40:55 PM
	Author     : Kishore
*/
/* line 11, ../sass/partials/_grid.scss */
.span1 {
  width: 48.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span2 {
  width: 97.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span3 {
  width: 146.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span4 {
  width: 195px; }

/* line 11, ../sass/partials/_grid.scss */
.span5 {
  width: 243.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span6 {
  width: 292.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span7 {
  width: 341.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span8 {
  width: 390px; }

/* line 11, ../sass/partials/_grid.scss */
.span9 {
  width: 438.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span10 {
  width: 487.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span11 {
  width: 536.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span12 {
  width: 585px; }

/* line 11, ../sass/partials/_grid.scss */
.span13 {
  width: 633.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span14 {
  width: 682.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span15 {
  width: 731.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span16 {
  width: 780px; }

/* line 11, ../sass/partials/_grid.scss */
.span17 {
  width: 828.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span18 {
  width: 877.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span19 {
  width: 926.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span20 {
  width: 975px; }

/* line 11, ../sass/partials/_grid.scss */
.span21 {
  width: 1023.75px; }

/* line 11, ../sass/partials/_grid.scss */
.span22 {
  width: 1072.5px; }

/* line 11, ../sass/partials/_grid.scss */
.span23 {
  width: 1121.25px; }

/* line 11, ../sass/partials/_grid.scss */
.span24 {
  width: 1170px; }

/* 
    Created on : Dec 21, 2014, 12:20:53 AM
    Author     : Kishore
*/
/* line 8, ../sass/partials/_stack.scss */
.stack-horizontal {
  display: table;
  table-layout: fixed; }
  /* line 12, ../sass/partials/_stack.scss */
  .stack-horizontal .item {
    display: table-cell;
    text-align: center;
    border-left: 2px solid white; }
    /* line 16, ../sass/partials/_stack.scss */
    .stack-horizontal .item:first-child {
      border-left: 0px; }
