/* 
	Created on : Jul 30, 2014, 12:55:14 AM
	Author     : kishore
*/
/* 
	Created on : Jan 6, 2015, 11:01:15 AM
	Author     : Kishore
*/
/* line 68, ../sass/partials/_variables.scss */
.kishore {
  color: #344e86; }

/* 
    Created on : Jul 9, 2014, 9:19:19 AM
    Author     : kishore
*/
/* line 19, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* line 27, ../sass/partials/_reset.scss */
html {
  line-height: 1;
  font-size: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4; }

/* line 35, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 44, ../sass/partials/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 50, ../sass/partials/_reset.scss */
q, blockquote {
  quotes: none; }

/* line 53, ../sass/partials/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 58, ../sass/partials/_reset.scss */
a img {
  border: none; }

/* line 62, ../sass/partials/_reset.scss */
a, a:hover, a:active {
  outline: 0px;
  color: inherit;
  text-decoration: none; }

/* line 68, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 73, ../sass/partials/_reset.scss */
b, h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

/* line 76, ../sass/partials/_reset.scss */
h1, .h1 {
  font-size: 38px; }

/* line 79, ../sass/partials/_reset.scss */
h2, .h2 {
  font-size: 31.5px; }

/* line 82, ../sass/partials/_reset.scss */
h3, .h3 {
  font-size: 24px; }

/* line 85, ../sass/partials/_reset.scss */
h4, .h4 {
  font-size: 17px; }

/* line 88, ../sass/partials/_reset.scss */
h5, .h5 {
  font-size: 14px; }

/* line 91, ../sass/partials/_reset.scss */
h6, .h6 {
  font-size: 12px; }

/* 
	Created on : Dec 18, 2014, 9:21:40 PM
	Author     : kishore
*/
/* line 12, ../sass/partials/_extensions.scss */
.capsFont {
  text-transform: uppercase; }
  /* line 15, ../sass/partials/_extensions.scss */
  .capsFont::first-letter {
    font-size: 200% !important; }

/* line 21, ../sass/partials/_extensions.scss */
.iBlock {
  display: inline-block;
  vertical-align: middle; }

/* line 27, ../sass/partials/_extensions.scss */
.marAuto {
  margin: auto; }

/* line 30, ../sass/partials/_extensions.scss */
.mar10 {
  margin: 10px; }

/* line 33, ../sass/partials/_extensions.scss */
.mar5 {
  margin: 5px; }

/* line 36, ../sass/partials/_extensions.scss */
.marV5 {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 40, ../sass/partials/_extensions.scss */
.marV10 {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 44, ../sass/partials/_extensions.scss */
.marH5 {
  margin-left: 5px;
  margin-right: 5px; }

/* line 48, ../sass/partials/_extensions.scss */
.marH10 {
  margin-left: 10px;
  margin-right: 10px; }

/* line 52, ../sass/partials/_extensions.scss */
.marL5 {
  margin-left: 5px; }

/* line 55, ../sass/partials/_extensions.scss */
.marR5 {
  margin-right: 5px; }

/* line 58, ../sass/partials/_extensions.scss */
.marT5 {
  margin-top: 5px; }

/* line 61, ../sass/partials/_extensions.scss */
.marB5 {
  margin-bottom: 5px; }

/* line 64, ../sass/partials/_extensions.scss */
.marL10 {
  margin-left: 10px; }

/* line 67, ../sass/partials/_extensions.scss */
.marR10 {
  margin-right: 10px; }

/* line 70, ../sass/partials/_extensions.scss */
.marT10 {
  margin-top: 10px; }

/* line 73, ../sass/partials/_extensions.scss */
.marB10 {
  margin-bottom: 10px; }

/* line 78, ../sass/partials/_extensions.scss */
.pad10 {
  padding: 10px; }

/* line 81, ../sass/partials/_extensions.scss */
.pad5 {
  padding: 5px; }

/* line 84, ../sass/partials/_extensions.scss */
.padV5 {
  padding-top: 5px;
  padding-bottom: 5px; }

/* line 88, ../sass/partials/_extensions.scss */
.padV10 {
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 92, ../sass/partials/_extensions.scss */
.padH5 {
  padding-left: 5px;
  padding-right: 5px; }

/* line 96, ../sass/partials/_extensions.scss */
.padH10 {
  padding-left: 10px;
  padding-right: 10px; }

/* line 100, ../sass/partials/_extensions.scss */
.padL5 {
  padding-left: 5px; }

/* line 103, ../sass/partials/_extensions.scss */
.padR5 {
  padding-right: 5px; }

/* line 106, ../sass/partials/_extensions.scss */
.padT5 {
  padding-top: 5px; }

/* line 109, ../sass/partials/_extensions.scss */
.padB5 {
  padding-bottom: 5px; }

/* line 112, ../sass/partials/_extensions.scss */
.padL10 {
  padding-left: 10px; }

/* line 115, ../sass/partials/_extensions.scss */
.padR10 {
  padding-right: 10px; }

/* line 118, ../sass/partials/_extensions.scss */
.padT10 {
  padding-top: 10px; }

/* line 121, ../sass/partials/_extensions.scss */
.padB10 {
  padding-bottom: 10px; }

/* line 125, ../sass/partials/_extensions.scss */
.alignL {
  text-align: left; }

/* line 128, ../sass/partials/_extensions.scss */
.alignR {
  text-align: right; }

/* line 131, ../sass/partials/_extensions.scss */
.alignC {
  text-align: center; }

/* line 136, ../sass/partials/_extensions.scss */
.floatL {
  float: left; }

/* line 139, ../sass/partials/_extensions.scss */
.floatR {
  float: right; }

/* line 142, ../sass/partials/_extensions.scss */
.clearfix {
  clear: both; }

/* line 145, ../sass/partials/_extensions.scss */
.clearfixA:after {
  content: "";
  display: block;
  clear: both; }

/* line 152, ../sass/partials/_extensions.scss */
.boxBorder {
  box-sizing: border-box; }

/* line 158, ../sass/partials/_extensions.scss */
.bg-black {
  background-color: #000000 !important; }

/* line 161, ../sass/partials/_extensions.scss */
.bg-white {
  background-color: #ffffff !important; }

/* line 164, ../sass/partials/_extensions.scss */
.bg-lime {
  background-color: #a4c400 !important; }

/* line 167, ../sass/partials/_extensions.scss */
.bg-green {
  background-color: #60a917 !important; }

/* line 170, ../sass/partials/_extensions.scss */
.bg-emerald {
  background-color: #008a00 !important; }

/* line 173, ../sass/partials/_extensions.scss */
.bg-teal {
  background-color: #00aba9 !important; }

/* line 176, ../sass/partials/_extensions.scss */
.bg-cyan {
  background-color: #1ba1e2 !important; }

/* line 179, ../sass/partials/_extensions.scss */
.bg-cobalt {
  background-color: #0050ef !important; }

/* line 182, ../sass/partials/_extensions.scss */
.bg-indigo {
  background-color: #6a00ff !important; }

/* line 185, ../sass/partials/_extensions.scss */
.bg-violet {
  background-color: #aa00ff !important; }

/* line 188, ../sass/partials/_extensions.scss */
.bg-pink {
  background-color: #dc4fad !important; }

/* line 191, ../sass/partials/_extensions.scss */
.bg-magenta {
  background-color: #d80073 !important; }

/* line 194, ../sass/partials/_extensions.scss */
.bg-crimson {
  background-color: #a20025 !important; }

/* line 197, ../sass/partials/_extensions.scss */
.bg-red {
  background-color: #e51400 !important; }

/* line 200, ../sass/partials/_extensions.scss */
.bg-orange {
  background-color: #fa6800 !important; }

/* line 203, ../sass/partials/_extensions.scss */
.bg-amber {
  background-color: #f0a30a !important; }

/* line 206, ../sass/partials/_extensions.scss */
.bg-yellow {
  background-color: #e3c800 !important; }

/* line 209, ../sass/partials/_extensions.scss */
.bg-brown {
  background-color: #825a2c !important; }

/* line 212, ../sass/partials/_extensions.scss */
.bg-olive {
  background-color: #6d8764 !important; }

/* line 215, ../sass/partials/_extensions.scss */
.bg-steel {
  background-color: #647687 !important; }

/* line 218, ../sass/partials/_extensions.scss */
.bg-mauve {
  background-color: #76608a !important; }

/* line 221, ../sass/partials/_extensions.scss */
.bg-taupe {
  background-color: #87794e !important; }

/* line 224, ../sass/partials/_extensions.scss */
.bg-gray {
  background-color: #555555 !important; }

/* line 227, ../sass/partials/_extensions.scss */
.bg-dark {
  background-color: #333333 !important; }

/* line 230, ../sass/partials/_extensions.scss */
.bg-darker {
  background-color: #222222 !important; }

/* line 233, ../sass/partials/_extensions.scss */
.bg-transparent {
  background-color: transparent !important; }

/* line 236, ../sass/partials/_extensions.scss */
.bg-darkBrown {
  background-color: #63362f !important; }

/* line 239, ../sass/partials/_extensions.scss */
.bg-darkCrimson {
  background-color: #640024 !important; }

/* line 242, ../sass/partials/_extensions.scss */
.bg-darkMagenta {
  background-color: #81003c !important; }

/* line 245, ../sass/partials/_extensions.scss */
.bg-darkIndigo {
  background-color: #4b0096 !important; }

/* line 248, ../sass/partials/_extensions.scss */
.bg-darkCyan {
  background-color: #1b6eae !important; }

/* line 251, ../sass/partials/_extensions.scss */
.bg-darkCobalt {
  background-color: #00356a !important; }

/* line 254, ../sass/partials/_extensions.scss */
.bg-darkTeal {
  background-color: #004050 !important; }

/* line 257, ../sass/partials/_extensions.scss */
.bg-darkEmerald {
  background-color: #003e00 !important; }

/* line 260, ../sass/partials/_extensions.scss */
.bg-darkGreen {
  background-color: #128023 !important; }

/* line 263, ../sass/partials/_extensions.scss */
.bg-darkOrange {
  background-color: #bf5a15 !important; }

/* line 266, ../sass/partials/_extensions.scss */
.bg-darkRed {
  background-color: #9a1616 !important; }

/* line 269, ../sass/partials/_extensions.scss */
.bg-darkPink {
  background-color: #9a165a !important; }

/* line 272, ../sass/partials/_extensions.scss */
.bg-darkViolet {
  background-color: #57169a !important; }

/* line 275, ../sass/partials/_extensions.scss */
.bg-darkBlue {
  background-color: #16499a !important; }

/* line 278, ../sass/partials/_extensions.scss */
.bg-lightBlue {
  background-color: #4390df !important; }

/* line 281, ../sass/partials/_extensions.scss */
.bg-lightRed {
  background-color: #ff2d19 !important; }

/* line 284, ../sass/partials/_extensions.scss */
.bg-lightGreen {
  background-color: #7ad61d !important; }

/* line 287, ../sass/partials/_extensions.scss */
.bg-lighterBlue {
  background-color: #00ccff !important; }

/* line 290, ../sass/partials/_extensions.scss */
.bg-lightTeal {
  background-color: #45fffd !important; }

/* line 293, ../sass/partials/_extensions.scss */
.bg-lightOlive {
  background-color: #78aa1c !important; }

/* line 296, ../sass/partials/_extensions.scss */
.bg-lightOrange {
  background-color: #c29008 !important; }

/* line 299, ../sass/partials/_extensions.scss */
.bg-lightPink {
  background-color: #f472d0 !important; }

/* line 302, ../sass/partials/_extensions.scss */
.bg-grayDark {
  background-color: #333333 !important; }

/* line 305, ../sass/partials/_extensions.scss */
.bg-grayDarker {
  background-color: #222222 !important; }

/* line 308, ../sass/partials/_extensions.scss */
.bg-grayLight {
  background-color: #999999 !important; }

/* line 311, ../sass/partials/_extensions.scss */
.bg-grayLighter {
  background-color: #eeeeee !important; }

/* line 314, ../sass/partials/_extensions.scss */
.bg-blue {
  background-color: #00aff0 !important; }

/* line 317, ../sass/partials/_extensions.scss */
.fg-black {
  color: #000000 !important; }

/* line 320, ../sass/partials/_extensions.scss */
.fg-white {
  color: #ffffff !important; }

/* line 323, ../sass/partials/_extensions.scss */
.fg-lime {
  color: #a4c400 !important; }

/* line 326, ../sass/partials/_extensions.scss */
.fg-green {
  color: #60a917 !important; }

/* line 329, ../sass/partials/_extensions.scss */
.fg-emerald {
  color: #008a00 !important; }

/* line 332, ../sass/partials/_extensions.scss */
.fg-teal {
  color: #00aba9 !important; }

/* line 335, ../sass/partials/_extensions.scss */
.fg-cyan {
  color: #1ba1e2 !important; }

/* line 338, ../sass/partials/_extensions.scss */
.fg-cobalt {
  color: #0050ef !important; }

/* line 341, ../sass/partials/_extensions.scss */
.fg-indigo {
  color: #6a00ff !important; }

/* line 344, ../sass/partials/_extensions.scss */
.fg-violet {
  color: #aa00ff !important; }

/* line 347, ../sass/partials/_extensions.scss */
.fg-pink {
  color: #dc4fad !important; }

/* line 350, ../sass/partials/_extensions.scss */
.fg-magenta {
  color: #d80073 !important; }

/* line 353, ../sass/partials/_extensions.scss */
.fg-crimson {
  color: #a20025 !important; }

/* line 356, ../sass/partials/_extensions.scss */
.fg-red {
  color: #e51400 !important; }

/* line 359, ../sass/partials/_extensions.scss */
.fg-orange {
  color: #fa6800 !important; }

/* line 362, ../sass/partials/_extensions.scss */
.fg-amber {
  color: #f0a30a !important; }

/* line 365, ../sass/partials/_extensions.scss */
.fg-yellow {
  color: #e3c800 !important; }

/* line 368, ../sass/partials/_extensions.scss */
.fg-brown {
  color: #825a2c !important; }

/* line 371, ../sass/partials/_extensions.scss */
.fg-olive {
  color: #6d8764 !important; }

/* line 374, ../sass/partials/_extensions.scss */
.fg-steel {
  color: #647687 !important; }

/* line 377, ../sass/partials/_extensions.scss */
.fg-mauve {
  color: #76608a !important; }

/* line 380, ../sass/partials/_extensions.scss */
.fg-taupe {
  color: #87794e !important; }

/* line 383, ../sass/partials/_extensions.scss */
.fg-gray {
  color: #555555 !important; }

/* line 386, ../sass/partials/_extensions.scss */
.fg-dark {
  color: #333333 !important; }

/* line 389, ../sass/partials/_extensions.scss */
.fg-darker {
  color: #222222 !important; }

/* line 392, ../sass/partials/_extensions.scss */
.fg-transparent {
  color: transparent !important; }

/* line 395, ../sass/partials/_extensions.scss */
.fg-darkBrown {
  color: #63362f !important; }

/* line 398, ../sass/partials/_extensions.scss */
.fg-darkCrimson {
  color: #640024 !important; }

/* line 401, ../sass/partials/_extensions.scss */
.fg-darkMagenta {
  color: #81003c !important; }

/* line 404, ../sass/partials/_extensions.scss */
.fg-darkIndigo {
  color: #4b0096 !important; }

/* line 407, ../sass/partials/_extensions.scss */
.fg-darkCyan {
  color: #1b6eae !important; }

/* line 410, ../sass/partials/_extensions.scss */
.fg-darkCobalt {
  color: #00356a !important; }

/* line 413, ../sass/partials/_extensions.scss */
.fg-darkTeal {
  color: #004050 !important; }

/* line 416, ../sass/partials/_extensions.scss */
.fg-darkEmerald {
  color: #003e00 !important; }

/* line 419, ../sass/partials/_extensions.scss */
.fg-darkGreen {
  color: #128023 !important; }

/* line 422, ../sass/partials/_extensions.scss */
.fg-darkOrange {
  color: #bf5a15 !important; }

/* line 425, ../sass/partials/_extensions.scss */
.fg-darkRed {
  color: #9a1616 !important; }

/* line 428, ../sass/partials/_extensions.scss */
.fg-darkPink {
  color: #9a165a !important; }

/* line 431, ../sass/partials/_extensions.scss */
.fg-darkViolet {
  color: #57169a !important; }

/* line 434, ../sass/partials/_extensions.scss */
.fg-darkBlue {
  color: #16499a !important; }

/* line 437, ../sass/partials/_extensions.scss */
.fg-lightBlue {
  color: #4390df !important; }

/* line 440, ../sass/partials/_extensions.scss */
.fg-lighterBlue {
  color: #00ccff !important; }

/* line 443, ../sass/partials/_extensions.scss */
.fg-lightTeal {
  color: #45fffd !important; }

/* line 446, ../sass/partials/_extensions.scss */
.fg-lightOlive {
  color: #78aa1c !important; }

/* line 449, ../sass/partials/_extensions.scss */
.fg-lightOrange {
  color: #c29008 !important; }

/* line 452, ../sass/partials/_extensions.scss */
.fg-lightPink {
  color: #f472d0 !important; }

/* line 455, ../sass/partials/_extensions.scss */
.fg-lightRed {
  color: #ff2d19 !important; }

/* line 458, ../sass/partials/_extensions.scss */
.fg-lightGreen {
  color: #7ad61d !important; }

/* line 461, ../sass/partials/_extensions.scss */
.fg-grayDark {
  color: #333333 !important; }

/* line 464, ../sass/partials/_extensions.scss */
.fg-grayDarker {
  color: #222222 !important; }

/* line 467, ../sass/partials/_extensions.scss */
.fg-grayLight {
  color: #999999 !important; }

/* line 470, ../sass/partials/_extensions.scss */
.fg-grayLighter {
  color: #eeeeee !important; }

/* line 473, ../sass/partials/_extensions.scss */
.fg-blue {
  color: #00aff0 !important; }

/* line 476, ../sass/partials/_extensions.scss */
.ol-black {
  outline-color: #000000 !important; }

/* line 479, ../sass/partials/_extensions.scss */
.ol-white {
  outline-color: #ffffff !important; }

/* line 482, ../sass/partials/_extensions.scss */
.ol-lime {
  outline-color: #a4c400 !important; }

/* line 485, ../sass/partials/_extensions.scss */
.ol-green {
  outline-color: #60a917 !important; }

/* line 488, ../sass/partials/_extensions.scss */
.ol-emerald {
  outline-color: #008a00 !important; }

/* line 491, ../sass/partials/_extensions.scss */
.ol-teal {
  outline-color: #00aba9 !important; }

/* line 494, ../sass/partials/_extensions.scss */
.ol-cyan {
  outline-color: #1ba1e2 !important; }

/* line 497, ../sass/partials/_extensions.scss */
.ol-cobalt {
  outline-color: #0050ef !important; }

/* line 500, ../sass/partials/_extensions.scss */
.ol-indigo {
  outline-color: #6a00ff !important; }

/* line 503, ../sass/partials/_extensions.scss */
.ol-violet {
  outline-color: #aa00ff !important; }

/* line 506, ../sass/partials/_extensions.scss */
.ol-pink {
  outline-color: #dc4fad !important; }

/* line 509, ../sass/partials/_extensions.scss */
.ol-magenta {
  outline-color: #d80073 !important; }

/* line 512, ../sass/partials/_extensions.scss */
.ol-crimson {
  outline-color: #a20025 !important; }

/* line 515, ../sass/partials/_extensions.scss */
.ol-red {
  outline-color: #e51400 !important; }

/* line 518, ../sass/partials/_extensions.scss */
.ol-orange {
  outline-color: #fa6800 !important; }

/* line 521, ../sass/partials/_extensions.scss */
.ol-amber {
  outline-color: #f0a30a !important; }

/* line 524, ../sass/partials/_extensions.scss */
.ol-yellow {
  outline-color: #e3c800 !important; }

/* line 527, ../sass/partials/_extensions.scss */
.ol-brown {
  outline-color: #825a2c !important; }

/* line 530, ../sass/partials/_extensions.scss */
.ol-olive {
  outline-color: #6d8764 !important; }

/* line 533, ../sass/partials/_extensions.scss */
.ol-steel {
  outline-color: #647687 !important; }

/* line 536, ../sass/partials/_extensions.scss */
.ol-mauve {
  outline-color: #76608a !important; }

/* line 539, ../sass/partials/_extensions.scss */
.ol-taupe {
  outline-color: #87794e !important; }

/* line 542, ../sass/partials/_extensions.scss */
.ol-gray {
  outline-color: #555555 !important; }

/* line 545, ../sass/partials/_extensions.scss */
.ol-dark {
  outline-color: #333333 !important; }

/* line 548, ../sass/partials/_extensions.scss */
.ol-darker {
  outline-color: #222222 !important; }

/* line 551, ../sass/partials/_extensions.scss */
.ol-transparent {
  outline-color: transparent !important; }

/* line 554, ../sass/partials/_extensions.scss */
.ol-darkBrown {
  outline-color: #63362f !important; }

/* line 557, ../sass/partials/_extensions.scss */
.ol-darkCrimson {
  outline-color: #640024 !important; }

/* line 560, ../sass/partials/_extensions.scss */
.ol-darkMagenta {
  outline-color: #81003c !important; }

/* line 563, ../sass/partials/_extensions.scss */
.ol-darkIndigo {
  outline-color: #4b0096 !important; }

/* line 566, ../sass/partials/_extensions.scss */
.ol-darkCyan {
  outline-color: #1b6eae !important; }

/* line 569, ../sass/partials/_extensions.scss */
.ol-darkCobalt {
  outline-color: #00356a !important; }

/* line 572, ../sass/partials/_extensions.scss */
.ol-darkTeal {
  outline-color: #004050 !important; }

/* line 575, ../sass/partials/_extensions.scss */
.ol-darkEmerald {
  outline-color: #003e00 !important; }

/* line 578, ../sass/partials/_extensions.scss */
.ol-darkGreen {
  outline-color: #128023 !important; }

/* line 581, ../sass/partials/_extensions.scss */
.ol-darkOrange {
  outline-color: #bf5a15 !important; }

/* line 584, ../sass/partials/_extensions.scss */
.ol-darkRed {
  outline-color: #9a1616 !important; }

/* line 587, ../sass/partials/_extensions.scss */
.ol-darkPink {
  outline-color: #9a165a !important; }

/* line 590, ../sass/partials/_extensions.scss */
.ol-darkViolet {
  outline-color: #57169a !important; }

/* line 593, ../sass/partials/_extensions.scss */
.ol-darkBlue {
  outline-color: #16499a !important; }

/* line 596, ../sass/partials/_extensions.scss */
.ol-lightBlue {
  outline-color: #4390df !important; }

/* line 599, ../sass/partials/_extensions.scss */
.ol-lighterBlue {
  outline-color: #00ccff !important; }

/* line 602, ../sass/partials/_extensions.scss */
.ol-lightTeal {
  outline-color: #45fffd !important; }

/* line 605, ../sass/partials/_extensions.scss */
.ol-lightOlive {
  outline-color: #78aa1c !important; }

/* line 608, ../sass/partials/_extensions.scss */
.ol-lightOrange {
  outline-color: #c29008 !important; }

/* line 611, ../sass/partials/_extensions.scss */
.ol-lightPink {
  outline-color: #f472d0 !important; }

/* line 614, ../sass/partials/_extensions.scss */
.ol-lightRed {
  outline-color: #ff2d19 !important; }

/* line 617, ../sass/partials/_extensions.scss */
.ol-lightGreen {
  outline-color: #7ad61d !important; }

/* line 620, ../sass/partials/_extensions.scss */
.ol-grayDark {
  outline-color: #333333 !important; }

/* line 623, ../sass/partials/_extensions.scss */
.ol-grayDarker {
  outline-color: #222222 !important; }

/* line 626, ../sass/partials/_extensions.scss */
.ol-grayLight {
  outline-color: #999999 !important; }

/* line 629, ../sass/partials/_extensions.scss */
.ol-grayLighter {
  outline-color: #eeeeee !important; }

/* line 632, ../sass/partials/_extensions.scss */
.ol-blue {
  outline-color: #00aff0 !important; }

/* line 635, ../sass/partials/_extensions.scss */
.bd-black {
  border-color: #000000 !important; }

/* line 638, ../sass/partials/_extensions.scss */
.bd-white {
  border-color: #ffffff !important; }

/* line 641, ../sass/partials/_extensions.scss */
.bd-lime {
  border-color: #a4c400 !important; }

/* line 644, ../sass/partials/_extensions.scss */
.bd-green {
  border-color: #60a917 !important; }

/* line 647, ../sass/partials/_extensions.scss */
.bd-emerald {
  border-color: #008a00 !important; }

/* line 650, ../sass/partials/_extensions.scss */
.bd-teal {
  border-color: #00aba9 !important; }

/* line 653, ../sass/partials/_extensions.scss */
.bd-cyan {
  border-color: #1ba1e2 !important; }

/* line 656, ../sass/partials/_extensions.scss */
.bd-cobalt {
  border-color: #0050ef !important; }

/* line 659, ../sass/partials/_extensions.scss */
.bd-indigo {
  border-color: #6a00ff !important; }

/* line 662, ../sass/partials/_extensions.scss */
.bd-violet {
  border-color: #aa00ff !important; }

/* line 665, ../sass/partials/_extensions.scss */
.bd-pink {
  border-color: #dc4fad !important; }

/* line 668, ../sass/partials/_extensions.scss */
.bd-magenta {
  border-color: #d80073 !important; }

/* line 671, ../sass/partials/_extensions.scss */
.bd-crimson {
  border-color: #a20025 !important; }

/* line 674, ../sass/partials/_extensions.scss */
.bd-red {
  border-color: #e51400 !important; }

/* line 677, ../sass/partials/_extensions.scss */
.bd-orange {
  border-color: #fa6800 !important; }

/* line 680, ../sass/partials/_extensions.scss */
.bd-amber {
  border-color: #f0a30a !important; }

/* line 683, ../sass/partials/_extensions.scss */
.bd-yellow {
  border-color: #e3c800 !important; }

/* line 686, ../sass/partials/_extensions.scss */
.bd-brown {
  border-color: #825a2c !important; }

/* line 689, ../sass/partials/_extensions.scss */
.bd-olive {
  border-color: #6d8764 !important; }

/* line 692, ../sass/partials/_extensions.scss */
.bd-steel {
  border-color: #647687 !important; }

/* line 695, ../sass/partials/_extensions.scss */
.bd-mauve {
  border-color: #76608a !important; }

/* line 698, ../sass/partials/_extensions.scss */
.bd-taupe {
  border-color: #87794e !important; }

/* line 701, ../sass/partials/_extensions.scss */
.bd-gray {
  border-color: #555555 !important; }

/* line 704, ../sass/partials/_extensions.scss */
.bd-dark {
  border-color: #333333 !important; }

/* line 707, ../sass/partials/_extensions.scss */
.bd-darker {
  border-color: #222222 !important; }

/* line 710, ../sass/partials/_extensions.scss */
.bd-transparent {
  border-color: transparent !important; }

/* line 713, ../sass/partials/_extensions.scss */
.bd-darkBrown {
  border-color: #63362f !important; }

/* line 716, ../sass/partials/_extensions.scss */
.bd-darkCrimson {
  border-color: #640024 !important; }

/* line 719, ../sass/partials/_extensions.scss */
.bd-darkMagenta {
  border-color: #81003c !important; }

/* line 722, ../sass/partials/_extensions.scss */
.bd-darkIndigo {
  border-color: #4b0096 !important; }

/* line 725, ../sass/partials/_extensions.scss */
.bd-darkCyan {
  border-color: #1b6eae !important; }

/* line 728, ../sass/partials/_extensions.scss */
.bd-darkCobalt {
  border-color: #00356a !important; }

/* line 731, ../sass/partials/_extensions.scss */
.bd-darkTeal {
  border-color: #004050 !important; }

/* line 734, ../sass/partials/_extensions.scss */
.bd-darkEmerald {
  border-color: #003e00 !important; }

/* line 737, ../sass/partials/_extensions.scss */
.bd-darkGreen {
  border-color: #128023 !important; }

/* line 740, ../sass/partials/_extensions.scss */
.bd-darkOrange {
  border-color: #bf5a15 !important; }

/* line 743, ../sass/partials/_extensions.scss */
.bd-darkRed {
  border-color: #9a1616 !important; }

/* line 746, ../sass/partials/_extensions.scss */
.bd-darkPink {
  border-color: #9a165a !important; }

/* line 749, ../sass/partials/_extensions.scss */
.bd-darkViolet {
  border-color: #57169a !important; }

/* line 752, ../sass/partials/_extensions.scss */
.bd-darkBlue {
  border-color: #16499a !important; }

/* line 755, ../sass/partials/_extensions.scss */
.bd-lightBlue {
  border-color: #4390df !important; }

/* line 758, ../sass/partials/_extensions.scss */
.bd-lightTeal {
  border-color: #45fffd !important; }

/* line 761, ../sass/partials/_extensions.scss */
.bd-lightOlive {
  border-color: #78aa1c !important; }

/* line 764, ../sass/partials/_extensions.scss */
.bd-lightOrange {
  border-color: #c29008 !important; }

/* line 767, ../sass/partials/_extensions.scss */
.bd-lightPink {
  border-color: #f472d0 !important; }

/* line 770, ../sass/partials/_extensions.scss */
.bd-lightRed {
  border-color: #ff2d19 !important; }

/* line 773, ../sass/partials/_extensions.scss */
.bd-lightGreen {
  border-color: #7ad61d !important; }

/* line 776, ../sass/partials/_extensions.scss */
.bd-grayDark {
  border-color: #333333 !important; }

/* line 779, ../sass/partials/_extensions.scss */
.bd-grayDarker {
  border-color: #222222 !important; }

/* line 782, ../sass/partials/_extensions.scss */
.bd-grayLight {
  border-color: #999999 !important; }

/* line 785, ../sass/partials/_extensions.scss */
.bd-grayLighter {
  border-color: #eeeeee !important; }

/* line 788, ../sass/partials/_extensions.scss */
.bd-blue {
  border-color: #00aff0 !important; }

/* 
	Created on : Dec 19, 2014, 11:54:28 AM
	Author     : kishore
*/
/* line 12, ../sass/partials/_navbar.scss */
.navbar {
  background-color: #3b5998; }

/* line 17, ../sass/partials/_navbar.scss */
.nav {
  margin: auto;
  display: table; }
  /* line 22, ../sass/partials/_navbar.scss */
  .nav > .item {
    display: table-cell;
    vertical-align: middle; }
    /* line 27, ../sass/partials/_navbar.scss */
    .nav > .item.cell, .nav > .item .cell, .nav > .item .ncell, .nav > .item.ncell {
      position: relative;
      padding: 10px;
      color: white;
      white-space: nowrap; }
      /* line 33, ../sass/partials/_navbar.scss */
      .nav > .item.cell img, .nav > .item .cell img, .nav > .item .ncell img, .nav > .item.ncell img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-left: 10px; }
    /* line 40, ../sass/partials/_navbar.scss */
    .nav > .item.cell, .nav > .item .cell {
      cursor: pointer; }
      /* line 42, ../sass/partials/_navbar.scss */
      .nav > .item.cell:hover, .nav > .item .cell:hover {
        background-color: #344e86; }
    /* line 46, ../sass/partials/_navbar.scss */
    .nav > .item.remain {
      width: 100%; }
      /* line 48, ../sass/partials/_navbar.scss */
      .nav > .item.remain:hover {
        background-color: inherit; }

/* 
	Created on : Dec 19, 2014, 4:33:11 PM
	Author     : kishore
*/
/* line 10, ../sass/partials/_buttons.scss */
.button, button, input[type="submit"], input[type="button"] {
  padding: 10px;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
  border: 0px; }
  /* line 19, ../sass/partials/_buttons.scss */
  .button:active, button:active, input[type="submit"]:active, input[type="button"]:active {
    background-color: #344e86 !important;
    color: white;
    border: none !important;
    border-color: transparent !important;
    outline: none !important; }
  /* line 26, ../sass/partials/_buttons.scss */
  .button.active, button.active, input[type="submit"].active, input[type="button"].active {
    background-color: #3b5998;
    color: white; }
  /* line 30, ../sass/partials/_buttons.scss */
  .button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #3b5998;
    color: white; }

/* 
	Created on : Dec 19, 2014, 10:01:45 PM
	Author     : Kishore
*/
/* line 12, ../sass/partials/_dropdown.scss */
.dropdown {
  position: relative;
  display: inline-block; }
  /* line 18, ../sass/partials/_dropdown.scss */
  .dropdown ul {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    min-width: 170px;
    background-color: white;
    z-index: 1; }
    /* line 28, ../sass/partials/_dropdown.scss */
    .dropdown ul li {
      padding: 10px 10px;
      cursor: pointer;
      color: black; }
      /* line 33, ../sass/partials/_dropdown.scss */
      .dropdown ul li i.fa {
        margin-right: 5px; }
      /* line 37, ../sass/partials/_dropdown.scss */
      .dropdown ul li.disabled:hover, .dropdown ul li.disabled, .dropdown ul li.divider:hover, .dropdown ul li.divider {
        background-color: inherit;
        color: #828282;
        cursor: default; }
      /* line 43, ../sass/partials/_dropdown.scss */
      .dropdown ul li.divider {
        padding: 0px;
        border-bottom: 1px solid #8e8e8e;
        margin: 5px 0px; }
      /* line 48, ../sass/partials/_dropdown.scss */
      .dropdown ul li:hover {
        background-color: #3b5998;
        color: white; }
  /* line 57, ../sass/partials/_dropdown.scss */
  .dropdown.dropup ul {
    top: auto;
    bottom: 100% !important; }
  /* line 64, ../sass/partials/_dropdown.scss */
  .dropdown.pullLeft ul {
    left: inherit !important;
    right: 0px !important; }
  /* line 69, ../sass/partials/_dropdown.scss */
  .dropdown .button {
    position: relative;
    z-index: 2; }

/* 
	Created on : Dec 20, 2014, 11:40:55 PM
	Author     : Kishore
*/
/* line 11, ../sass/partials/_grid.scss */
.span1 {
  width: 50px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span2 {
  width: 100px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span3 {
  width: 150px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span4 {
  width: 200px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span5 {
  width: 250px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span6 {
  width: 300px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span7 {
  width: 350px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span8 {
  width: 400px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span9 {
  width: 450px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span10 {
  width: 500px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span11 {
  width: 550px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span12 {
  width: 600px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span13 {
  width: 650px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span14 {
  width: 700px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span15 {
  width: 750px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span16 {
  width: 800px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span17 {
  width: 850px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span18 {
  width: 900px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span19 {
  width: 950px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span20 {
  width: 1000px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span21 {
  width: 1050px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span22 {
  width: 1100px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span23 {
  width: 1150px !important; }

/* line 11, ../sass/partials/_grid.scss */
.span24 {
  width: 1200px !important; }

/* line 15, ../sass/partials/_grid.scss */
.spanp {
  width: 100% !important; }

/* 
    Created on : Dec 21, 2014, 12:20:53 AM
    Author     : Kishore
*/
/* line 9, ../sass/partials/_stack.scss */
.hstack-fixed, .hstack {
  display: table;
  width: 100%;
  position: relative; }
  /* line 14, ../sass/partials/_stack.scss */
  .hstack-fixed > .item, .hstack > .item {
    display: table-cell;
    text-align: center; }

/* line 19, ../sass/partials/_stack.scss */
.hstack-fixed {
  table-layout: fixed; }

/* line 24, ../sass/partials/_stack.scss */
.hstack-variable {
  position: relative; }
  /* line 26, ../sass/partials/_stack.scss */
  .hstack-variable > .item {
    display: inline-block;
    vertical-align: top; }

/* line 34, ../sass/partials/_stack.scss */
.hstack-float > .item {
  float: left; }
/* line 37, ../sass/partials/_stack.scss */
.hstack-float::after {
  display: block;
  content: "";
  clear: both; }

/* 
	Created on : Dec 21, 2014, 2:02:47 AM
	Author     : Kishore
*/
/*
	Form partial that defines all the styles of form elements,
	and provide standard form layout utilities.
*/
/* line 10, ../sass/partials/_form.scss */
.text, .form input[type='text'], .form input[type='password'] {
  padding: 8px;
  border: 1px solid #cbcbcb;
  outline: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 16, ../sass/partials/_form.scss */
  .text:focus, .form input[type='text']:focus, .form input[type='password']:focus {
    border: 1px solid black; }
  /* line 20, ../sass/partials/_form.scss */
  .text.error, .form input.error[type='text'], .form input.error[type='password'] {
    background-color: #fdf4f3;
    color: red;
    border: 1px solid #feb0b0; }
    /* line 24, ../sass/partials/_form.scss */
    .text.error:focus, .form input.error[type='text']:focus, .form input.error[type='password']:focus {
      border: 1px solid #ca001c; }
  /* line 28, ../sass/partials/_form.scss */
  .text.success, .form input.success[type='text'], .form input.success[type='password'] {
    background-color: #F2FEF3;
    color: #015B0B;
    border: 1px solid #90FFA0; }
    /* line 32, ../sass/partials/_form.scss */
    .text.success:focus, .form input.success[type='text']:focus, .form input.success[type='password']:focus {
      border: 1px solid #01b418; }

/* line 37, ../sass/partials/_form.scss */
.select, .form select {
  outline: 0px;
  border: 0px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 43, ../sass/partials/_form.scss */
  .select option, .form select option {
    padding: 10px; }
  /* line 46, ../sass/partials/_form.scss */
  .select.error, .form select.error {
    background-color: #fde4e3;
    color: red; }
  /* line 50, ../sass/partials/_form.scss */
  .select.success, .form select.success {
    background-color: #e4fde3;
    color: darkgreen; }

/* line 55, ../sass/partials/_form.scss */
.checkbox, .form input[type='checkbox'] {
  vertical-align: middle;
  border: 1px solid black;
  background-color: red; }

/* line 60, ../sass/partials/_form.scss */
.radio, .form input[type='radio'] {
  vertical-align: middle; }

/* line 78, ../sass/partials/_form.scss */
.form label {
  vertical-align: middle; }

/* line 84, ../sass/partials/_form.scss */
.form-horizontal .field {
  display: table;
  width: 100%;
  padding-bottom: 10px; }
  /* line 89, ../sass/partials/_form.scss */
  .form-horizontal .field:first-child {
    padding-top: 10px; }
  /* line 92, ../sass/partials/_form.scss */
  .form-horizontal .field .name, .form-horizontal .field .value, .form-horizontal .field .status {
    display: table-cell;
    vertical-align: middle; }
  /* line 96, ../sass/partials/_form.scss */
  .form-horizontal .field .name {
    text-align: right;
    padding-right: 10px; }
  /* line 100, ../sass/partials/_form.scss */
  .form-horizontal .field .value {
    width: 0px; }
  /* line 103, ../sass/partials/_form.scss */
  .form-horizontal .field .status {
    text-align: left;
    padding-left: 10px; }
  /* line 108, ../sass/partials/_form.scss */
  .form-horizontal .field.error .status {
    color: red; }
  /* line 113, ../sass/partials/_form.scss */
  .form-horizontal .field.success .status {
    color: #015B0B; }

/* 
	Created on : Jan 6, 2015, 10:15:32 AM
	Author     : Kishore
*/
/* line 15, ../sass/partials/_sidebar.scss */
ul.sidebar {
  background-color: #f7f7f7; }
  /* line 18, ../sass/partials/_sidebar.scss */
  ul.sidebar li {
    padding: 10px; }
    /* line 21, ../sass/partials/_sidebar.scss */
    ul.sidebar li.disabled, ul.sidebar li.disabled:hover {
      color: lightslategray;
      cursor: default;
      background-color: inherit; }
    /* line 27, ../sass/partials/_sidebar.scss */
    ul.sidebar li.active, ul.sidebar li:hover {
      background-color: #3b5998;
      color: white;
      cursor: pointer; }
    /* line 30, ../sass/partials/_sidebar.scss */
    ul.sidebar li .fa {
      padding-right: 10px; }
    /* line 34, ../sass/partials/_sidebar.scss */
    ul.sidebar li.submenu {
      display: block;
      padding: 0px; }
      /* line 38, ../sass/partials/_sidebar.scss */
      ul.sidebar li.submenu .trigger {
        padding: 10px; }
        /* line 40, ../sass/partials/_sidebar.scss */
        ul.sidebar li.submenu .trigger.active {
          background-color: #3b5998;
          color: white;
          cursor: pointer; }
      /* line 46, ../sass/partials/_sidebar.scss */
      ul.sidebar li.submenu ul {
        background-color: window;
        color: black; }
      /* line 50, ../sass/partials/_sidebar.scss */
      ul.sidebar li.submenu ul.active {
        display: block; }

/* line 39, ../sass/main.scss */
body {
  background-color: #dfe3ee; }

/* line 43, ../sass/main.scss */
.fa-dummy {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  /* line 45, ../sass/main.scss */
  .fa-dummy:before {
    content: "\f015"; }
