/* 
	Created on : Jul 30, 2014, 12:55:14 AM
	Author     : kishore
*/

// Import CSS3 support for cross browser CSS3 properties
@import "compass/css3";

// Reset CSS
@import "partials/reset";

// Extended CSS styles
@import "partials/extensions";

// Menu Bar UI
@import "partials/navbar";

// Buttons UI
@import "partials/buttons";

// Dropdown UX
@import "partials/dropdown";

// Grid Layout
@import "partials/grid";

// Stack Layout
@import "partials/stack";

// Forms Partial
@import "partials/form";

body{
	background-color : #f5f5f5;
	-moz-user-select: none;
}

.fa-dummy{
	@include opacity(0);
	&:before{content:"\f015"}
}