/* 
	Created on : Dec 19, 2014, 4:33:11 PM
	Author     : kishore
*/

//	========================================
//	Flat UI style button styles goes here...
//	========================================

.button{
	display : inline-block;
	padding : 10px;
	background-color : green;
	color : white;
	cursor : pointer;
	border : 0px;
	&:hover, &.active{
		outline : 0px;
		border : 0px;
		opacity : 0.7;
		background-color : lightgreen;
		color : black;
	}
}