/* 
	Created on : Dec 19, 2014, 4:33:11 PM
	Author     : kishore
*/

//	========================================
//	Flat UI style button styles goes here...
//	========================================

.button{
	padding : 10px;
	background-color : white;
	color : black;
	@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.2));
	cursor : pointer;
	border : 0px;
	&.active{
		outline : 0px;
		border : 0px;
		background-color : lightgreen !important;
		color : black;
	}
	&:hover{
		background-color : #f2f2f2;
	}
}