/* 
	Created on : Dec 19, 2014, 10:01:45 PM
	Author     : Kishore
*/

//	===============================================
//	Dropdown partial provides the ui component for
//		dropdown type of functionality.
//	===============================================

// Dropdown encapsulated.
.dropdown{

	position : relative;
	display : inline-block;

	// Dropdown menu.
	ul{
		position : absolute;
		top : 100%;
		left : 0px;
		padding : 0px;
		min-width : 170px;
		background-color : lightgreen;
		z-index : 1;

		// Items of dropdown menu.
		li{
			padding : 10px 10px;
			cursor: pointer;
			i.fa{
				margin-right : 5px;
			}
			&:hover{
				background-color : darkgreen;
				color : white;
			}
		}
	}

	// Dropdown menu that goes up, default down.
	&.dropup{
		ul{
			top : auto;
			bottom : 100% !important;
		}
	}
	// Dropdown menu that goes left, default right.
	&.pullLeft{
		ul{
			left : inherit !important;
			right : 0px !important;
		}
	}
	.button{
		position : relative;
		z-index : 2;
	}
}