/* 
	Created on : Dec 19, 2014, 10:01:45 PM
	Author     : Kishore
*/

//	===============================================
//	Dropdown partial provides the ui component for
//		dropdown type of functionality.
//	===============================================

// Dropdown encapsulated.
.dropdown{

	position : relative;
	display : inline-block;

	// Dropdown menu.
	ul{
		position : absolute;
		top : 100%;
		left : 0px;
		padding : 0px;
		min-width : 170px;
		background-color : white;
		//border : 1px solid #d7d7d7;
		@include box-shadow(black 0px 0px 10px);

		// Items of dropdown menu.
		li{
			padding : 10px 10px;
			cursor: pointer;
			color : black;

			i.fa{
				margin-right : 5px;
			}
			&.disabled, &.divider{
				&:hover,&{
					background-color : inherit;
					color : #828282;
					cursor : default;
				}
			}
			&.divider{
				padding : 0px;
				border-bottom : 1px solid #8e8e8e;
				margin : 5px 0px;
			}
			&:hover{
				background-color : $theme-color;
				color : white;
			}
		}
	}

	// Dropdown menu that goes up, default down.
	&.dropup{
		ul{
			top : auto;
			bottom : 100% !important;
		}
	}
	// Dropdown menu that goes left, default right.
	&.pullLeft{
		ul{
			left : inherit !important;
			right : 0px !important;
		}
	}
	.button{
		position : relative;
	}
}