/* 
	Created on : Dec 18, 2014, 9:21:40 PM
	Author     : kishore
*/

//	===============================================
//	Extensions partial extends the default features
//	of html and add more styles to the elements.
//	===============================================

// Only capital font where first letter is emphasized.
.capsFont{
	display : block;// first-letter pseudo element works only for block elements.
	text-transform: uppercase;
	font-size : 20px;

	&::first-letter{
		font-size : 200% !important;
	}
}

// Inline block style.
.iBlock{
	display : inline-block;
	vertical-align : top;
}

// Margin classes.
.marAuto{
	margin : auto;
}
.mar10{
	margin : 10px;
}
.mar5{
	margin : 5px;
}

// Padding classes
.pad10{
	padding : 10px;
}
.pad5{
	padding : 5px;
}

// Align classes
.alignL{
	text-align : left;
}
.alignR{
	text-align : right;
}
.alignC{
	text-align : center;
}