/* 
	Created on : Dec 18, 2014, 9:21:40 PM
	Author     : kishore
*/

//	===============================================
//	Extensions partial extends the default features
//	  of html and add more styles to the elements.
//	===============================================

// Only capital font where first letter is emphasized.
.capsFont{
	text-transform: uppercase;

	&::first-letter{
		font-size : 200% !important;
	}
}

// Inline block style.
.iBlock{
	display : inline-block;
	vertical-align : middle;
}

// Margin classes.
.marAuto{
	margin : auto;
}
.mar10{
	margin : 10px;
}
.mar5{
	margin : 5px;
}
.marV5{
	margin-top : 5px;
	margin-bottom : 5px;
}
.marV10{
	margin-top : 10px;
	margin-bottom : 10px;
}
.marH5{
	margin-left : 5px;
	margin-right : 5px;
}
.marH10{
	margin-left : 10px;
	margin-right : 10px;
}
.marL5{
	margin-left : 5px;
}
.marR5{
	margin-right : 5px;
}
.marT5{
	margin-top : 5px;
}
.marB5{
	margin-bottom : 5px;
}
.marL10{
	margin-left : 10px;
}
.marR10{
	margin-right : 10px;
}
.marT10{
	margin-top : 10px;
}
.marB10{
	margin-bottom : 10px;
}

// Padding classes
.pad10{
	padding : 10px;
}
.pad5{
	padding : 5px;
}
.padV5{
	padding-top : 5px;
	padding-bottom : 5px;
}
.padV10{
	padding-top : 10px;
	padding-bottom : 10px;
}
.padH5{
	padding-left : 5px;
	padding-right : 5px;
}
.padH10{
	padding-left : 10px;
	padding-right : 10px;
}
.padL5{
	padding-left : 5px;
}
.padR5{
	padding-right : 5px;
}
.padT5{
	padding-top : 5px;
}
.padB5{
	padding-bottom : 5px;
}
.padL10{
	padding-left : 10px;
}
.padR10{
	padding-right : 10px;
}
.padT10{
	padding-top : 10px;
}
.padB10{
	padding-bottom : 10px;
}
// Align classes
.alignL{
	text-align : left;
}
.alignR{
	text-align : right;
}
.alignC{
	text-align : center;
}

// Float classes
.floatL{
	float : left;
}
.floatR{
	float : right;
}
.clearfix{
	clear : both;
}

// Box model classes
.boxBorder{
	box-sizing: border-box;
}