/* 
	Created on : Dec 21, 2014, 2:02:47 AM
	Author     : Kishore
*/

/*
	Form partial that defines all the styles of form elements,
	and provide standard form layout utilities.
*/

select{
	padding : 3px;
}
.text{
	padding : 8px;
	border : 1px solid #cbcbcb;
	outline : 0px;
	@include box-sizing(border-box);

	&:focus{
		border : 1px solid black;
	}

	&.error{
		background-color : #fdf4f3;
		color : red;
		border : 1px solid #feb0b0;
		&:focus{
			border : 1px solid #ca001c;
		}
	}
	&.success{
		background-color: #F2FEF3;
		color : #015B0B;
		border : 1px solid #90FFA0;
		&:focus{
			border : 1px solid #01b418;
		}
	}
}
.checkbox{
	vertical-align : middle;
	border : 1px solid black;
	background-color : red;
}
.radio{
	vertical-align : middle;
}

// Form component that adds default styles.
.form{
	input[type='text'],input[type='password']{
		@extend .text;
	}
	input[type='checkbox']{
		@extend .checkbox;
	}
	input[type='radio']{
		@extend .radio;
	}
	label{
		vertical-align : middle;
	}
}

.form-horizontal{
	.field{
		display : table;
		width : 100%;
		padding-bottom : 10px;

		&:first-child{
			padding-top : 10px;
		}
		.name,.value,.status{
			display : table-cell;
			vertical-align : middle;
		}
		.name{
			text-align : right;
			padding-right : 10px;
		}
		.value{
			text-alight : left;
			width : 0px;
		}
		.status{
			text-align : left;
			padding-left : 10px;
		}
		&.error{
			input[type="text"],input[type="password"],input[type="checkbox"],input[type="radio"]{
				@extend .text.error;
			}
			.status{
				color : red;
			}
		}
		&.success{
			input[type="text"],input[type="password"],input[type="checkbox"],input[type="radio"]{
				@extend .text.success;
			}
			.status{
				color : #015B0B;
			}
		}
	}
}