/* 
	Created on : Dec 19, 2014, 11:54:28 AM
	Author     : kishore
*/

//	===============================================
//	MenuBar partial provides the ui component that
//		that is robust to be used elsewhere.
//	===============================================

// Menu Bar if needed.
.navbar{
	background-color : green;
}

// Menu content styles.
.nav{
	width : 1000px;
	margin : auto;
	display : table;
	background-color : lightgreen;

	// Items in menu bar.
	.item{
		display : table-cell;
		vertical-align : middle;
		
		// Content of each item.
		&.cell,.cell{
			position : relative;
			padding : 10px;
			cursor : pointer;
			white-space : nowrap;	// Do not wrap text.
			&:hover{
				background-color : white;
			}

			img{
				vertical-align : middle;
				width : 30px;
				height : 30px;
			}
		}
		&.remain{
			width : 100%;
			&:hover{
				background-color : inherit;
			}
		}
	}
}
