/* 
    Created on : Dec 21, 2014, 12:20:53 AM
    Author     : Kishore
*/

// Plugin to stack elements horizontally.

// Horizontal fixed width stack
.hstack-fixed{
	display : table;
	table-layout : fixed;
	position : relative;
	
	.item{
		display : table-cell;
		text-align : center;
	}
}

// Horizontal variable width stack.
.hstack-variable{
	position : relative;
	.item{
		display : inline-block;
	}
}