/* 
    Created on : Dec 21, 2014, 12:20:53 AM
    Author     : Kishore
*/

// Plugin to stack elements horizontally.

// Horizontal fixed width stack
.hstack-fixed, .hstack{
	display : table;
	width : 100%;
	position : relative;
	
	> .item{
		display : table-cell;
		&.remain{
			width : 100%;
		}
	}
}
.hstack-fixed{
	table-layout : fixed;
	> .item{
		vertical-align : middle;
	}
}

// Horizontal variable width stack.
.hstack-variable{
	position : relative;
	> .item{
		display : inline-block;
		vertical-align : top;
	}
}

// Float stack to left
.hstack-float{
	> .item{
		float : left;
	}
	&::after{
		display : block;
		content : "";
		clear : both;
	}
}